:root {
  --percentage: 0%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 850px) {
  .content {
    position: initial;
    width: 90%;
    margin: 15% auto;
  }

  .sidebar {
    display: none;
  }

  .main-topleft,
  .main-bottomleft,
  .main-bottomright,
  .main-topright {
    display: none;
  }

  .content-question__badges {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    font-size: 0.7rem;
  }

  .question-title {
    text-align: center;
  }

  .question-title__number {
    display: none;
  }

  .content-answers {
    width: 100%;
  }

  .container {
    overflow-y: initial;
  }

  .cta {
    float: none;
  }

  .content-btn {
    width: 100%;
  }
}
