:root {
  --percentage: 0%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 600px) {
  html {
    display: none;
  }

  html::after {
    content: "Display Screen less than 500px";
  }
}
