.sidebar {
  position: absolute;
  left: 0;
  right: 70%;
  top: 0;
  bottom: 0;
  background-color: #27ae60;
  min-height: 100vh;
}

.sidebar-img {
  position: absolute;
  bottom: 0;
}

.sidebar-text {
  margin: 10% 2rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.main-topleft {
  position: absolute;
  left: 30%;
}

.main-bottomleft {
  position: absolute;
  left: 30%;
  top: calc(100vh - 90px);
}

.main-bottomright {
  position: absolute;
  left: 90%;
  top: calc(100vh - 90px);
}

.main-topright {
  position: absolute;
  left: 90%;
  top: 0;
}

