.content {
  position: absolute;
  left: 30%;
  right: 0;
  width: 50%;
  margin: 10% auto;
}

.content-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.content-label {
  display: block;
}

.content-form {
  display: grid;
  place-content: center;
}

.content-next {
  margin-top: 5%;
}

.content-form__count,
.ant-input-number-input {
  height: 40px !important;
}

.content-btn__container {
  display: flex;
  justify-content: space-between;
}
