.summary-title__score {
  text-transform: uppercase;
  padding: 2rem;
  margin: 0;
}

.summary-container {
  width: 50%;
  margin: 10% auto;
  text-align: center;
}

.summary-title__repeat {
  padding-top: 0;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

